/*b_main.scss*/
#wrap { width: 100%; min-width: 960px; height: auto; margin: 0 auto; position: relative; }

#headBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 30px; box-sizing: border-box; position: relative; }

#headBox h1 { width: 150px; height: 160px; float: left; background-image: url("../img/kozel_logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#headBox #gnbBox { float: right; position: absolute; bottom: 30px; left: 50%; margin-left: -360px; z-index: 30; }

#headBox #gnbBox ul li { width: 120px; margin-right: 50px; float: left; font-family: "IM FELL Great Primer", arial; text-transform: uppercase; }

#headBox #gnbBox ul li.franchiese { width: 200px; }

#headBox #gnbBox ul li dl { height: auto; }

#headBox #gnbBox ul li dl dt { font-style: italic; font-size: 30px; font-size: 1.875rem; text-shadow: 0 2px 4px #160000; }

#headBox #gnbBox ul li dl .depth { display: flex; justify-content: center; position: absolute; left: 0; z-index: 500; top: 60px; width: 100vw; height: 120px; background-color: #ffffff; }

#headBox #gnbBox ul li dl .depth div { display: inline-block; margin-right: 60px; text-align: center; line-height: 120px; }

#bannerBox { width: 100%; height: auto; position: fixed; visibility: visible; }

#bannerBox .video_area { width: 100%; height: auto; overflow: hidden; }

#bannerBox .video_area > .video_play { width: auto; height: auto; min-width: 100%; min-height: 100%; position: relative; top: 0; left: 50%; transform: translate(-50%); -webkit-object-fit: contain; -moz-object-fit: contain; -ms-object-fit: contain; -o-object-fit: contain; object-fit: contain; }

#bannerBox .video_btn { position: absolute; right: 60px; bottom: 60px; z-index: 500; font-size: 120px; color: #ffffff; background-color: transparent; }

#bannerBox .video_btn button { width: 60px; height: 60px; cursor: pointer; background-color: inherit; filter: drop-shadow(0 1.5px 0 #E5D9C4); }

#bannerBox .video_btn button.play_btn { background-image: url("../img/banner/play-circle.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#bannerBox .video_btn button.pause_btn { background-image: url("../img/banner/pause-circle.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#titleBox { width: 100%; background-color: #fff; background-image: url("../img/title/title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#titleBox h2 { font-size: 48px; font-size: 3rem; text-align: center; }

#titleBox.main_02 { background-image: url("../img/title/main_02.png"); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; }

#titleBox.main_02 h2 { color: #ffffff; }

.foodBoxWrap { position: relative; margin-top: 100vh; visibility: visible; }

#foodBox { width: 100%; height: 100%; padding-top: 80px; padding-top: 5rem; background-color: #fff; background-image: url("../img/bg_kozel.png"); background-repeat: no-repeat; background-position: left bottom; background-size: 20%; }

#foodBox ul { width: 80%; height: 700px; position: relative; margin: auto; -webkit-perspective: 300; }

#foodBox li { width: 400px; height: 250px; position: absolute; top: 50%; left: 50%; background-color: #fff; border: 1px solid  #055; border-radius: 10px; box-shadow: 0 2px 4px #160000; margin-left: -150px; margin-top: -175px; text-align: center; line-height: 350px; font-size: 80px; font-size: 5rem; transition: all 2s linear; }

.img_01 { background-image: url("../img/newmenu/pic_newm01.png"); background-repeat: no-repeat; background-position: center; background-size: 60%; }

.img_02 { background-image: url("../img/newmenu/pic_newm02.png"); background-repeat: no-repeat; background-position: center; background-size: 60%; }

.img_03 { background-image: url("../img/newmenu/pic_newm03.png"); background-repeat: no-repeat; background-position: center; background-size: 60%; }

.img_04 { background-image: url("../img/newmenu/pic_newm04.png"); background-repeat: no-repeat; background-position: center; background-size: 60%; }

.img_05 { background-image: url("../img/newmenu/pic_newm05.png"); background-repeat: no-repeat; background-position: center; background-size: 60%; }

.beerBoxWrap { position: relative; background-color: #fff !important; }

#beerBox { width: 960px; height: auto; }

#beerBox ul li { width: 50%; height: 540px; float: left; }

#beerBox ul li dl { text-align: center; font-family: "IM FELL Great Primer", arial; }

#beerBox ul li dl .beer_img { height: 350px; }

#beerBox ul li dl dt { font-size: 36px; font-size: 2.25rem; }

#beerBox li:nth-of-type(1) p { background-image: url("../img/beer01.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#beerBox li:nth-of-type(2) p { background-image: url("../img/beer02.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#titleBox { width: 100%; background-color: #fff; background-image: url("../img/title/title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#titleBox h2 { font-size: 48px; font-size: 3rem; text-align: center; }

#titleBox.main_02 { background-image: url("../img/title/main_02.png"); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; }

#titleBox.main_02 h2 { color: #ffffff; }

.locationBoxWrap { position: relative; }

#locationBox { width: 100%; height: 78.125vw; /*750px*/ margin: 0 auto; background-color: #fff; padding: 90px; box-sizing: border-box; }

#locationBox > div { width: 50%; height: 100%; float: left; text-align: center; color: #ffffff; }

#locationBox > div.franchise { background-image: url("../img/location/beer.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#locationBox > div.franchise a { line-height: 52.083333vw; /*500px*/ }

#locationBox > div.other div { height: 50%; }

#locationBox > div.other .menu { background-image: url("../img/location/pork.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#locationBox > div.other .store { background-image: url("../img/location/store.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#locationBox > div a { color: inherit; font-family: "IM FELL Great Primer", arial; text-transform: uppercase; font-size: 48px; font-size: 3rem; text-shadow: 0 2px 4px #160000; line-height: 34.375vw; /*33px*/ }

#topBtn { position: relative; background-color: #fff; width: 100%; height: 75px; }

#topBtn a { background-image: url("../img/footer_arrow.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#footBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood.png"); background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; }

#footBox h2 { width: 115px; height: 54px; background-image: url("../img/flogo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; bottom: 70px; right: 70px; }

#footBox .text_area { padding: 70px; box-sizing: border-box; }

#footBox .text_area p { margin-bottom: 20px; }
