/*c_1_introduce.scss*/
#wrap { width: 100%; min-width: 960px; height: auto; margin: 0 auto; position: relative; }

@media screen and (max-width: 480px) { #wrap { min-width: 100%; max-width: 480px; } }

@media screen and (min-width: 481px) and (max-width: 768px) { #wrap { min-width: 481px; max-width: 768px; } }

#headBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 30px; box-sizing: border-box; position: relative; }

#headBox h1 { width: 150px; height: 160px; float: left; background-image: url("../img/kozel_logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#headBox #gnbBox { float: right; position: absolute; bottom: 30px; left: 50%; margin-left: -280px; z-index: 30; }

#headBox #gnbBox ul li { width: 120px; margin-right: 30px; float: left; font-family: "IM FELL Great Primer", arial; text-transform: uppercase; }

#headBox #gnbBox ul li:last-of-type { margin-right: 0; }

#headBox #gnbBox ul li.franchiese { width: 200px; }

#headBox #gnbBox ul li dl { height: auto; }

#headBox #gnbBox ul li dl dt { font-style: italic; font-size: 30px; font-size: 1.875rem; text-shadow: 0 2px 4px #160000; }

#headBox #gnbBox ul li dl .depth { display: flex; justify-content: center; position: absolute; left: 0; z-index: 500; top: 60px; width: 100vw; height: 120px; background-color: #ffffff; }

#headBox #gnbBox ul li dl .depth div { display: inline-block; margin-right: 60px; text-align: center; line-height: 120px; }

@media screen and (max-width: 480px) { #headBox .logo { margin-top: 10px; }
  #headBox #gnbBox ul { padding: 30px; }
  #headBox #gnbBox ul li dl dt { font-size: 1.25rem; }
  #headBox #gnbBox ul li dl .depth div a { font-size: 1.25rem; } }

@media screen and (max-width: 768px) { #headBox { width: 100%; height: 210px; }
  #headBox .logo { background-image: url("../img/flogo.png"); }
  #headBox #gnbBox { position: relative; left: 0; }
  #headBox #gnbBox button { width: 60px; height: 55px; background-color: transparent; position: absolute; right: 30px; top: -50px; }
  #headBox #gnbBox button .bar { display: block; width: 100%; height: 0; border-top: 5px solid #562D0D; transition: all 800ms ease; }
  #headBox #gnbBox button .bar:before { content: " "; display: block; border-top: 5px solid #562D0D; margin-top: -25px; }
  #headBox #gnbBox button .bar:after { content: " "; display: block; border-top: 5px solid #562D0D; margin-top: 35px; }
  #headBox #gnbBox button .bar.active { width: 80%; border: 0; transform: rotateY(180deg); }
  #headBox #gnbBox button .bar.active:before { transform: rotate(-45deg); }
  #headBox #gnbBox button .bar.active:after { transform: rotate(45deg); margin-top: 25px; }
  #headBox #gnbBox ul { width: 100%; height: 100vh; background-color: #ffffff; padding: 90px 30px; box-sizing: border-box; position: absolute; top: 66px; }
  #headBox #gnbBox ul li { float: none; }
  #headBox #gnbBox ul li dl dt { margin-bottom: 60px; }
  #headBox #gnbBox ul li dl .depth { display: block; top: 0; width: 50vw; height: 100vh; background-color: #E5D9C4; }
  #headBox #gnbBox ul li dl .depth div { display: inherit; height: 60px; text-align: right; font-size: 1.875rem; padding-top: 50px; box-sizing: border-box; margin-right: 30px; } }

#bigTitleBox { width: 100%; height: 600px; font-size: 48px; font-size: 3rem; color: #ffffff; font-family: "IM FELL Great Primer", arial; text-shadow: 0 2px 4px #160000; text-transform: uppercase; text-align: center; line-height: 600px; }

#bigTitleBox h2 { font-size: inherit; }

.introTit { background-image: url("../img/title/intro_title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

.hisroryTit { background-image: url("../img/title/history_title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

.menuTit { background-image: url("../img/title/beer_title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#introduceBox { padding: 30px; box-sizing: border-box; }

#introduceBox .intro { width: 660px; height: 500px; margin-bottom: 90px; }

#introduceBox .intro:nth-child(2) { float: right; text-align: right; }

#introduceBox .intro img { width: 100%; height: 100%; margin-bottom: 30px; }

#introduceBox .intro figcaption { display: block; }

#titleBox { width: 100%; background-color: #fff; background-image: url("../img/title/title.png"); background-repeat: no-repeat; background-position: center; background-size: cover; }

#titleBox h2 { font-size: 48px; font-size: 3rem; text-align: center; }

#titleBox.main_02 { background-image: url("../img/title/main_02.png"); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; }

#titleBox.main_02 h2 { color: #ffffff; }

@media screen and (max-width: 480px) { #titleBox h2 { font-size: 2.25rem; } }

@media screen and (min-width: 1366px) { #titleBox { height: 270px; }
  #titleBox h2 { height: 100%; display: flex; align-items: center; justify-content: center; } }

#videoBox { width: 100%; height: auto; padding: 60px; box-sizing: border-box; }

#videoBox ul { width: 100%; height: 100%; }

#videoBox ul li { float: left; width: 40%; margin-right: 30px; margin-bottom: 30px; }

#videoBox ul li:nth-of-type(2n) { float: right; }

#topBtn { position: relative; background-color: #fff; width: 100%; height: 75px; }

#topBtn a { background-image: url("../img/footer_arrow.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#footBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood_bk.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; }

#footBox:before { content: " "; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

#footBox h2 { width: 115px; height: 54px; background-image: url("../img/flogo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; bottom: 70px; right: 70px; }

#footBox .text_area { padding: 70px; box-sizing: border-box; }

#footBox .text_area p { margin-bottom: 20px; color: #ffffff; }

@media screen and (max-width: 480px) { #footBox { padding: 30px; box-sizing: border-box; }
  #footBox h2 { position: relative; margin: 0 auto; bottom: 0; right: 0; margin-bottom: 30px; }
  #footBox .text_area { padding: 0; }
  #footBox .text_area p:first-child, #footBox .text_area p:nth-child(2), #footBox .text_area p:nth-child(3) { display: none; }
  #footBox .text_area p:last-child { width: 100%; } }
