/*d_menu.scss*/
#wrap { width: 100%; min-width: 960px; height: auto; margin: 0 auto; position: relative; }

@media screen and (max-width: 480px) { #wrap { min-width: 100%; max-width: 480px; } }

@media screen and (min-width: 481px) and (max-width: 768px) { #wrap { min-width: 481px; max-width: 768px; } }

#headBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; padding: 30px; box-sizing: border-box; position: relative; }

#headBox h1 { width: 150px; height: 160px; float: left; background-image: url("../img/kozel_logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#headBox #gnbBox { float: right; position: absolute; bottom: 30px; left: 50%; margin-left: -280px; z-index: 30; }

#headBox #gnbBox ul li { width: 120px; margin-right: 30px; float: left; font-family: "IM FELL Great Primer", arial; text-transform: uppercase; }

#headBox #gnbBox ul li:last-of-type { margin-right: 0; }

#headBox #gnbBox ul li.franchiese { width: 200px; }

#headBox #gnbBox ul li dl { height: auto; }

#headBox #gnbBox ul li dl dt { font-style: italic; font-size: 30px; font-size: 1.875rem; text-shadow: 0 2px 4px #160000; }

#headBox #gnbBox ul li dl .depth { display: flex; justify-content: center; position: absolute; left: 0; z-index: 500; top: 60px; width: 100vw; height: 120px; font-size: 24px; font-size: 1.5rem; background-color: #ffffff; }

#headBox #gnbBox ul li dl .depth div { display: inline-block; margin-right: 60px; text-align: center; line-height: 120px; }

@media screen and (max-width: 480px) { #headBox .logo { margin-top: 10px; }
  #headBox #gnbBox button.mob { bottom: -65px; }
  #headBox #gnbBox ul { padding: 30px; }
  #headBox #gnbBox ul li dl dt { font-size: 1.25rem; }
  #headBox #gnbBox ul li dl .depth div a { font-size: 1.25rem; } }

@media screen and (max-width: 768px) { #headBox { width: 100%; height: 210px; }
  #headBox .logo { background-image: url("../img/flogo.png"); }
  #headBox #gnbBox { position: relative; left: 0; }
  #headBox #gnbBox button { width: 40px; height: 55px; background-color: transparent; position: absolute; right: 30px; bottom: -3.125rem; }
  #headBox #gnbBox button .bar { display: block; width: 100%; height: 0; text-transform: uppercase; color: #562D0D; font-family: "IM FELL Great Primer", arial; }
  #headBox #gnbBox button .bar:before { content: " "; display: block; width: 100%; height: 4px; background-color: #562D0D; position: absolute; top: 15px; transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; }
  #headBox #gnbBox button .bar:after { content: " "; display: block; width: 100%; height: 4px; background-color: #562D0D; position: absolute; top: 5px; transition: all 300ms ease-out; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; }
  #headBox #gnbBox button .bar.active { width: 100%; border: 0; }
  #headBox #gnbBox button .bar.active:before { width: 80%; transform: rotate(-45deg); top: 5px; margin: 0 0 0 5px; }
  #headBox #gnbBox button .bar.active:after { width: 80%; transform: rotate(45deg); margin: 0 0 0 5px; }
  #headBox #gnbBox ul { width: 100%; height: 100vh; background-color: #ffffff; padding: 90px 30px; box-sizing: border-box; position: absolute; top: 66px; }
  #headBox #gnbBox ul li { float: none; }
  #headBox #gnbBox ul li dl dt { margin-bottom: 60px; }
  #headBox #gnbBox ul li dl .depth { display: block; top: 0; width: 50vw; height: 100vh; background-color: #E5D9C4; }
  #headBox #gnbBox ul li dl .depth div { display: inherit; height: 60px; text-align: right; font-size: 1.875rem; padding-top: 50px; box-sizing: border-box; margin-right: 30px; } }

#menuBox { width: 100%; height: 540px; padding: 60px; box-sizing: border-box; background-image: url("../img/bg_town.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#menuBox ul { width: 50%; height: 100%; float: left; position: relative; }

#menuBox ul.menu_title { text-transform: uppercase; font-family: "IM FELL Great Primer", arial; font-size: 36px; font-size: 2.25rem; }

#menuBox ul.menu_title li { margin-bottom: 50px; }

#menuBox ul.menu_pic li { display: none; width: 100%; height: 100%; position: absolute; top: 0; }

#menuBox ul.menu_pic li.view { display: block; }

#menuBox ul.menu_pic li:nth-of-type(1) { background-image: url("../img/menu/menu_01.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#menuBox ul.menu_pic li:nth-of-type(2) { background-image: url("../img/menu/menu_02.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#menuBox ul.menu_pic li:nth-of-type(3) { background-image: url("../img/menu/menu_03.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#menuBox ul.menu_pic li:nth-of-type(4) { background-image: url("../img/menu/menu_04.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#topBtn { position: relative; background-color: #fff; width: 100%; height: 75px; }

#topBtn a { background-image: url("../img/footer_arrow.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

#footBox { width: 100%; height: auto; background-color: #fff; background-image: url("../img/wood_bk.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; }

#footBox:before { content: " "; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

#footBox h2 { width: 115px; height: 54px; background-image: url("../img/flogo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; bottom: 70px; right: 70px; }

#footBox .text_area { padding: 70px; box-sizing: border-box; }

#footBox .text_area p { margin-bottom: 20px; color: #ffffff; }

@media screen and (max-width: 480px) { #footBox { padding: 30px; box-sizing: border-box; }
  #footBox h2 { position: relative; margin: 0 auto; bottom: 0; right: 0; margin-bottom: 30px; }
  #footBox .text_area { padding: 0; }
  #footBox .text_area p:first-child, #footBox .text_area p:nth-child(2), #footBox .text_area p:nth-child(3) { display: none; }
  #footBox .text_area p:last-child { width: 100%; } }
